html {
    font-size: 16px;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Caveat', cursive;
}
a, p {
    font-family: 'Open Sans', sans-serif;
}

/* HEADER ---------------------------------------------- */
header {
    transition: background-color 0.5s ease-in-out;
}
header .logo a {
    font-size: 2.5rem;
    text-decoration: none;
    font-family: 'Caveat', cursive;
    transition: color 0.3s ease-in-out;
}
header .logo a:hover {
    color: #FFFFFF;
}
header.uk-sticky-below {
    background-color: rgb(34, 34, 34);
}
header .uk-icon svg {
    width: 40px;
    height: 40px;
}
@media only screen and (max-width: 959px) {
    header .logo a {
        font-size: 2rem;
    }
}
/* MAIN ------------------------------------------------ */
main {
    position: relative;
    top: -80px;
    /*top: 80px;*/
}

/* MISSION --------------------------------------------- */
#mission {
    background-image: url('/images/hero/aron-visuals-bZZp1PmHI0E-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80vh;
}
#mission h1 {
    color:#1e87f0;
}
/* SERVICES -------------------------------------------- */


/* TEAM ------------------------------------------------ */
#team .uk-card-media-top {
    max-height: 400px;
    overflow: hidden;
}
#team .uk-card-media-top img {
    height: auto;
    width: 100%;
}
#team .uk-position-bottom {
    background-color: rgb(34, 34, 34);
    z-index: 10;
}
#team h3 {
    color: #FFFFFF;
}
#team p {
    font-size: 14px;
    color: #ffffffc4;
}
#team .one, #team .seven   {
    position: relative;
    top: -80px;
}

@media only screen and (max-width: 959px) {
    #team h3 {
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 639px) {
    #team .uk-first-column {
        padding-left: 0px;
    }
}
/* LOCATION -------------------------------------------- */


/* FOOTER ---------------------------------------------- */
footer {
    background-color: rgb(34, 34, 34);
}
